{% extends 'base.html.twig' %}

{% block title %}API {{ api.name }}{% endblock %}

{% block body %}
    {% if formSearch is defined %}
        <section class="container text-center" id="search_serie">
            <h1 class="mb-5">Bienvenue sur {{ api.name }}</h1>

            {{ form_start(formSearch, {
                'attr': {
                    'class': 'form-group',
                    'novalidate': 'novalidate'
                }})
            }}
            {{ form_label(formSearch.searchSerie) }}
            {{ form_widget(formSearch.searchSerie) }}
            {{ form_end(formSearch) }}
        </section>
    {% endif %}

    {% if programs is defined %}
        <section class="container" id="get_program_title">

            <h2>Résultat de la recherche</h2>

            <article class="row">
                <div class="col-md-4 col-lg-3">
                {% for result in programs.results %}
                    <form method="POST">
                        <button type="submit">
                                {{ result.title }}
                                <img src="{{ result.image }}" alt="" class="img-fluid">
                            <input type="hidden" name="get_details" value="{{ result.id }}">
                        </button>
                    </form>
                {% else %}
                    Aucune série trouvée
                {% endfor %}
                </div>
            </article>
        </section>
    {% endif %}


{% endblock %}
